.personal-website-title {
  font-family: "Exo", sans-serif;
  font-size: 57px !important;
}
.personal-website-sub {
  font-family: "Exo", sans-serif;
  font-size: 25px !important;
}

.personal-website-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px !important;
}

.personal-website-head {
  font-family: "Exo", sans-serif;
  font-size: 35px !important;
}

.personal-website-links {
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
}
